@mixin respond($bp) {
  @if ($bp==tablet-port) {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if ($bp==phone) {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; //1rem=10px 10/16px
  box-sizing: border-box;
  @include respond(tablet-port) {
    font-size: 50%; //1rem=8px 8/16px
  }
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  background-color: #222;
  /* background-color: #60b347; */
}

.game-description {
  padding: 2rem 1rem;
  font-size: 1.5rem;
  height: 35vh;
  position: relative;
  border-bottom: 7px solid #eee;
  &__start-again {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 4rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
  .secret-number {
    background-color: #fff;
    width: 15rem;
    text-align: center;
    color: #222;
    padding: 3rem 0;
    font-size: 6rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.btn {
  font-family: inherit;
  border: none;
  padding: 2rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}
.guess {
  height: 65vh;
  padding: 15rem 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include respond(tablet-port) {
    grid-template-columns: 1fr;
  }
  &__form {
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .number-input {
      display: block;
      width: 30rem;
      background-color: transparent;
      border: 4px solid #fff;
      color: inherit;
      font-family: inherit;
      margin-bottom: 3rem;
      padding: 3rem 1.5rem;
      @include respond(tablet-port) {
        width: 50vw;
      }
    }
  }
  ::placeholder {
    color: inherit;
  }
  &__scoring {
    @include respond(tablet-port) {
      justify-self: center;
    }
    @include respond(phone) {
      margin-top: 4rem;
    }
  }
  .scoring {
    &__message {
      font-size: 2rem;
      margin-bottom: 8rem;
      @include respond(phone) {
        margin-bottom: 4rem;
        font-size: 1.5rem;
      }
    }
    &__label {
      font-size: 2rem;
      margin-bottom: 2rem;
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
}
